.Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 72px);
    background-color: var(--violet);
}

.Page .Card {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    border-radius: 18px;
    border: 2px solid var(--black)
}


html[data-theme="light"] .Page .Card {
    color: var(--black);
    background-color: var(--light-gray);
}

html[data-theme="dark"] .Page .Card {
    color: var(--white);
    background-color: var(--black-1);
}


.Page .Card .Title {
    text-align: center;
}

.Page .Card .Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 30px;
}

.Page .Card .Form .InputGroup {
    position: relative;
    border-radius: 40px;
    padding: 20px 40px;
    border: 2px solid var(--black);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

html[data-theme="dark"] .Page .Card .Form .InputGroup {
    border-color: var(--white);
}


.Form .InputGroup.Focus {
    padding: 80px;
}

.Form .InputGroup .Input {
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1%;
}

html[data-theme="dark"] .Form .InputGroup .Input {
    color: var(--white);
}


.Form .InputGroup svg {
    width: 28px;
    height: 28px;
}

.Form .InputGroup .Input:focus+.Form .InputGroup .Label {
    color: var(--violet);
}

.Form .Button {
    padding: 20px;
    border-radius: 40px;
    background-color: var(--black);
    color: var(--white)
}
html[data-theme="dark"] .Form .Button {
    background-color: var(--white);
    color: var(--black);
}


.FormLink {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



.FormLink .FormLink_item .FormLink_link {
    color: #11111180;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: underline;

}

html[data-theme="dark"] .FormLink .FormLink_item .FormLink_link {
    color: #F6F6F680;
}

html[data-theme="dark"] .FormLink .FormLink_item.active .FormLink_link,
.FormLink .FormLink_item.active .FormLink_link {
    color: var(--violet);
    text-decoration: none;
}