.navbar {
    width: 100vw;
    height: 72px;
    /* background-color: var(--violet); */
    border: 3.5px solid var(--black);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 22px 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
}

._logo {
    display: flex;
    gap: 8px;
    align-items: center;
    align-self: center;
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    height: 28px;
}

._links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
}

._links ._link {
    padding: 8px 16px;
    border-radius: 36px;
}

._links ._link.active {
    background-color: var(--yellow);
}

._links ._link.active a {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -4%;
    color: var(--black);
    text-transform: uppercase;
}